.git
.github
.vscode
docker
docs

.docker*
**.editor*
**.eslint**
**.git**
**.prettier**
docker-compose.yml
README.md

**coverage**
**dist**
**logs**
**test**

**.env**
**jest**

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
