# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - Webstorm
.idea

# IDE Config
.vscode

/node_modules

# Ignore all .env files
.env
.env.*

# Exclude .env.example from being ignored
!.env.example